@font-face {
    font-family: "Dinpro";
    src: url(/src/fonts/dinpro/dinpro.otf);
}

@font-face {
    font-family: "Gilroy";
    font-weight: normal;
    font-style: normal;
    src: url(/src/fonts/gilroy/Gilroy-Light.woff);
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: bold;
    src: url(/src/fonts/gilroy/Gilroy-Black.woff);
}

html,
body {
    overflow-x: hidden;
    font-family: "Gilroy";
    overflow-y: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

h1 {
    font-family: "Dinpro";
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 100%;
}

ul,
li {
    list-style: none;
}

body {
    background-size: cover;
    min-height: 100vh;
}

/* [class*="__container"] {
    max-width: 900px;
    margin: 0 auto;
} */

.header {
    position: absolute;
    top: 25px;
    left: 70px;
    z-index: 1;
    width: 150px;
}

.header a {
    display: block;
}

.header img {
    width: 100%;
    height: auto;
}

.home {
    width: 1024px;
    height: 768px;
    padding-left: 70px;
    padding-right: 45px;
    background: url(../img/1111.jpg);
}

.home__body {
    padding-top: 150px;
}

.home__body h1 {
    text-transform: uppercase;
    margin-bottom: 40px;
}

.home__body h2 {
    text-transform: uppercase;
    font-size: 109px;
    line-height: 107%;
    position: relative;
    letter-spacing: 5px;
}
.home__body span {
    font-weight: bold;
}

.home__body .what_next {
    position: absolute;
}

.what_next {
    font-family: "Dinpro";
    position: relative;
    display: flex;
    right: 65px;
    bottom: 20px;
    height: 80px;
    width: 285px;
    background-color: #ff6a9f;
    border-radius: 50px;
    padding: 15px 40px 15px 20px;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 2px;
    justify-content: flex-end;
    align-items: center;
    color: #000;
    text-transform: none;
}

.what_next .button__border {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px;
    background-image: linear-gradient(135deg, #ba527d, #ff95ba);
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 50%;
}
.what_next .button__body {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.what_next img {
    width: 100%;
    height: auto;
}

.home__body img {
    width: 30px;
    height: auto;
}

footer img {
    width: 60px;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 70px;
}

/*===============*/

.slider {
    position: relative;
    /* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
    user-select: none;
    /* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
    touch-action: pan-y;
}

/* Если где-то внутри слайдера будут изображения,
то нужно задать им pointer-events: none,
чтобы они не перетаскивались мышью */

.slider img {
    poiner-events: none;
}

.slider-list.grab {
    cursor: grab;
}

.slider-list.grabbing {
    cursor: grabbing;
}

.slider-track {
    display: flex;
}

.slide {
    /* Чтобы слайды не сжимались */
    flex-shrink: 0;
    /* Увеличиваем и центрируем цифру внутри слайда */
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-arrows {
    margin-top: 15px;
    text-align: center;
}

.next,
.prev {
    background: none;
    border: none;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
}

.next.disabled,
.prev.disabled {
    opacity: 0.25;
    pointer-events: none;
}

.slider-arrows {
    opacity: 0;
}

/*=========================================================*/
.bigtext {
    width: 1024px;
    height: 768px;
    padding-left: 70px;
    padding-right: 45px;
    background: url(../img/333.jpg);
}

.bigtext h1 {
    text-transform: uppercase;
    line-height: 125%;
    margin-bottom: 40px;
    max-width: 200px;
    overflow-wrap: break-word;
}

.bigtext__body {
    padding-top: 125px;
    position: relative;
}

.bigtext__text {
    position: relative;
    border-radius: 40px;
    font-size: 34px;
    height: 400px;
    overflow: scroll;
    z-index: 222;
    margin: auto;
    direction: rtl;
}

.bigtext__text p {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    background-color: white;
    padding: 30px;
    margin-left: 30px;
    text-align: left;
}

.bigtext__text::-webkit-scrollbar {
    width: 18px;
}

.bigtext__text::-webkit-scrollbar-thumb {
    width: 18px;
    border-radius: 9px;
    background-image: linear-gradient(-90deg, #ba527d, #ff95ba);
}
.bigtext__text::-webkit-scrollbar-track {
    width: 0px;
    background-color: transparent;
}

.bigtext__text::-webkit-scrollbar-button {
    width: 0px;
    background-color: transparent;
}

.bigtext__text::-webkit-scrollbar-corner {
    width: 0px;
    background-color: transparent;
}

.scroll {
    position: absolute;
    height: 380px;
    width: 6px;
    background-color: #000;
    bottom: 20px;
    left: 6px;
    border-radius: 4px;
}

/*
.scroll__track {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    top: 0;
    left: -6px;
    width: 18px;
    height: 70px;
    border-radius: 9px;
    background-image: linear-gradient(-90deg, #ba527d, #ff95ba);
}
.scroll__track_body {
    background-color: #ff6a9f;
    flex: 1;
    height: 100%;
    width: 100%;
} */

/*=========================*/

.bottle {
    width: 1024px;
    height: 768px;
    padding-top: 180px;
    padding-left: 50px;
    background: url(../img/222.jpg);
}

.bottle__body img {
    height: 600px;
    position: relative;
    z-index: 332;
}

.bottle-plate img {
    height: 60px;
    position: absolute;
    top: -32px;
    left: 80px;
}

.bottle-plate div {
    position: relative;
    z-index: 323;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 30px rgb(223, 245, 247);
    border-radius: 20px;
    height: 100%;
}

.bottle-plate h4 {
    font-size: 22px;
    padding: 50px 50px 40px 75px;
    text-align: left;
    width: 350px;
}

.bottle-table h4 {
    font-size: 22px;
    text-align: left;
    padding: 20px;
    padding-top: 0;
}

.bottle-table img {
    height: 60px;
    position: relative;
    bottom: 20px;
    z-index: 323;
    left: 30px;
}

.bottle-table {
    grid-area: b;
    box-shadow: 0 0 30px rgb(223, 245, 247);
    border-radius: 20px;
}

.bottle-popup {
    grid-area: c;
}

.bottle__body {
    display: flex;
}

.bottle-text h1 {
    font-size: 40px;
}

.bottle-text h2 {
    font-size: 100px;
}

.bottle-text span {
    font-weight: bold;
}

section {
    width: 100%;
    height: 100%;
}

.bottle-text {
    margin-left: 200px;
    margin-right: 100px;
}

.bottle-boxes {
    display: grid;
    grid-gap: 40px;
    grid-template-areas:
        "a b"
        "a c";
}
.bottle-boxes p {
    color: #fff;
}
.bottle-box {
    position: absolute;
    z-index: 5000;
    bottom: 0;
    display: flex;
    height: 670px;
}
.bottle-box img {
    height: 100%;
    z-index: 332;
}

.bottle-plate {
    grid-area: a;
    background: #fff;
    border-radius: 0 15px 15px 0;
}

.btn {
    right: 0;
    bottom: 0;
}

.btn .button__body {
    position: relative;
}

.btn .button__body::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background-color: white;
    top: calc(50% - 1px);
    left: calc(50% - 10px);
}

.btn .button__body::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background-color: white;
    top: calc(50% - 1px);
    left: calc(50% - 10px);
    transform: rotate(90deg);
}

@keyframes popop {
    0% {
        left: 0;
        top: 0;
        right: 0;
    }
    40% {
        left: 15px;
        top: 10px;
        right: 5px;
    }
    80% {
        left: 17px;
        top: 20px;
        right: 8px;
    }
    100% {
        left: 0;
        top: 0;
        right: 0;
    }
}

@keyframes popop1 {
    0% {
        left: 0;
        top: 0;
        width: 100%;
        transform: rotate(0deg);
    }
    40% {
        left: 50px;
        right: -40px;
        top: 3px;
    }
    50% {
        transform: rotate(20deg);
        width: 110%;
    }
    80% {
        left: 20px;
        right: 20px;
        top: 3px;
    }
    100% {
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        transform: rotate(0deg);
    }
}

@keyframes popop2 {
    0% {
        left: 0;
        top: 0;
        right: 0;
    }
    40% {
        left: -15px;
        top: -5px;
        right: -5px;
    }
    80% {
        left: -17px;
        top: 10px;
        right: -8px;
    }
    100% {
        left: 0;
        top: 0;
        right: 0;
    }
}

@keyframes popop3 {
    0% {
        left: 2200px;
        top: 0;
        right: 0;
    }
    40% {
        left: 2100px;
        top: -5px;
        right: -5px;
    }
    80% {
        left: 2150px;
        top: 10px;
        right: -8px;
    }
    100% {
        left: 2200px;
        top: 0;
        right: 0;
    }
}

.popo {
    height: 70px;
    z-index: 1;
    position: absolute;
    animation: popop 3s infinite;
}

.popo2 {
    height: 70px;
    z-index: 1;
    position: absolute;
    animation: popop2 3s infinite;
}

.popo3 {
    animation: popop1 3s infinite;
}
.item {
    position: absolute;
}
.item img {
    width: 100%;
    height: auto;
}
.item1 {
    width: 63px;
    height: 57px;
    top: 50px;
    right: 350px;
    z-index: 1;
}
.item2 {
    width: 230px;
    height: 225px;
    bottom: -90px;
    left: 540px;
}

.item3 {
    width: 110px;
    height: 110px;
    right: 50px;
    top: 200px;
    z-index: 2;
}

.item4 {
    width: 215px;
    height: 115px;
    top: 75px;
    left: -80px;
}
.item4 .popo {
    animation: none;
}
.item5 {
    width: 73px;
    height: 71px;
    bottom: 190px;
    left: 30px;
}
.item6 {
    width: 590px;
    height: 93px;
    top: 155px;
    right: 0;
}
.item7 {
    width: 265px;
    height: 105px;
    bottom: 65px;
    left: 0;
}
.item8 {
    width: 71px;
    height: 68px;
    top: 30px;
    right: 30px;
}
.item9 {
    width: 85px;
    height: 77px;
    bottom: 70px;
    left: 350px;
}
.item10 {
    width: 30px;
    position: absolute;
    top: 100px;
    left: 1520px;
    opacity: 0.5;
}
.item11 {
    width: 30px;
    position: absolute;
    bottom: 420px;
    left: 1700px;
    opacity: 0.5;
}

/* .item8 {
    width: 30px;
    position: absolute;
    bottom: 150px;
} */

.item12 {
    margin-top: 550px;
    width: 30px;
    position: absolute;
    top: 100px;
    left: 1520px;
    z-index: 32332;
    animation: popop3 4s infinite;
}
.item13 {
    margin-top: 200px;
    width: 30px;
    padding-right: 150px;
    position: absolute;
    bottom: 150px;
    animation: popop3 6s infinite;
}
.item14 {
    margin-top: 400px;
    width: 30px;
    position: absolute;
    bottom: 420px;
    z-index: 32332;
    animation: popop3 4s infinite;
}
.item15 {
    width: 30px;
    position: absolute;
    top: 100px;
    animation: popop3 5s infinite;
    margin-top: 600px;
    z-index: 32332;
}
.item16 {
    margin-top: 300px;
    width: 30px;
    position: absolute;
    bottom: 100px;
    z-index: 32332;
    animation: popop3 4s infinite;
}

.popup {
    top: 50px;
    background: rgb(255, 255, 255);
    width: 85%;
    height: 85%;
    position: absolute;
    z-index: 3234;
    border-radius: 20px;
}

.clouse {
    position: absolute;
    left: 850px;
    top: 10px;
}

.popup-swiper {
    height: 500px;
    width: 500px;
    position: relative;
    left: 350px;
    font-size: 14px;
    overflow: hidden;
}

.popup div h1 {
    text-align: center;
}
.popup div h2 {
    text-align: center;
    font-size: 90px;
}

.hide {
    display: none;
}

.num {
    color: rgb(0, 132, 255);
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.popup-swiper {
    padding: 20px;
    font-size: 23px;
}

/* Кнопки вперед и назад */
.slider2x .prev,
.slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;

    width: 300px;

    color: rgb(0, 106, 255);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider2x .next {
    right: -270px;
    border-radius: 3px 0 0 3px;
}
.slider2x .prev {
    left: 380px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider2x .prev:hover,
.slider2x .next:hover {
    background-color: rgba(113, 202, 240, 0.8);
}
/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
/* Кружочки */
.slider-dots {
    text-align: center;
}
.slider-dots_item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}
/* Анимация слайдов */
.slider2x .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
